<div class="card-container">
    <button pButton (click)="filterTasks('all')">Todas las tareas</button>
    <button pButton (click)="filterTasks('completed')">Tareas completadas</button>
    <button pButton (click)="filterTasks('pending')">Tareas pendientes</button>
</div>
<div class="card-container">
    <div *ngFor="let task of filteredTasks; let i = index" class="container">
        <p-card >
            <div class="card-header">
                <p-checkbox [binary]="true" [(ngModel)]="task.completed"></p-checkbox>
                <h4>{{ task.name }} - {{ task.dueDate | date:'yyyy-MM-dd' }}</h4>
            </div>
            <div class="card-body">
                <h4>Personas Asociadas:</h4>
                <ul>
                    <li *ngFor="let person of task.persons">
                        {{ person.fullName }} ({{ person.age }} años)
                        <br>
                        <h4>Habilidades:</h4>
                        <ul>
                            <li>{{ joinSkills(person.skills) }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </p-card>
    </div>
</div>